[Unit]
Description=Gunicorn instance to serve Flask app
After=network.target

[Service]
User=vboxuser
WorkingDirectory=/home/vboxuser/app
ExecStart=/home/vboxuser/app/venv/bin/gunicorn --workers 4 --bind 0.0.0.0:5000 server:app
Restart=always

[Install]
WantedBy=multi-user.target