DEVELOPMENT_MODE="True|False if development|production"
DATABASE_URL="mysql+mysqlconnector://appuser:password@192.168.100.10:3306/mydb"
AWS_ACCESS_KEY_ID="aws_macronutrient_project_access_key_id"
AWS_SECRET_ACCESS_KEY="aws_macronutrient_project_secret_access_key"